build
dist
docs
jsdocs
node_modules
reports
styleguide
Gemfile.lock
source/assemble/partials/icon-sprite.svg

.DS_Store
.idea

*.bat
*.bundle
*.cache
*.log
*.sass-cache
*.sublime-project
*.sublime-workspace
*.temp
*.tmp
