/**
 * Page Header
 * A description.
 *
 * Markup:
 * <header class="b-page-header">
 *   <div class="logo">Logo</div>
 * </header>
 *
 * Styleguide 1
 */

.b-page-header {
	
	// Media Queries
	@include respond-to(desktop) {
		background-color: #f30;
	}
	
	@include respond-to(pad) {
		background-color: #0f3;
	}
	
	@include respond-to(phone) {
		background-color: #30f;
	}
	
	
	// Global Styles
	position: relative;
	height: 50px;
	
}
